div.body-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 30px;
}

div.limit-width {
    flex: 1;
    max-width: 1000px;
}

.homepage-div p {
    font-size: 22px;
}

.homepage-div * {
    margin-bottom: 30px;
}

.card-text {
    white-space: pre-wrap;
}
